{% extends "layout.html" %}
{% set title %}{{ subject.name or 'Maths' }}{% endset %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/courses">Courses</a></li>
    </ol>
  </div>

  {% if data[subject.slug + '-' + accrediting.slug + '-qa'] == 'true' %}
    <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1" style="margin-bottom: 60px">
      <h3 class="heading-medium success-summary-heading" id="success-summary-heading-example-1">
        {{ title }} has been sent to DfE for review
      </h3>
      <p>
        You will receive an email when the course is published or if changes are needed.
      </p>
    </div>
  {% endif %}

  <h1 class="heading-xlarge">
    {{ title }}
    {% if not accrediting.selfAccrediting %}<span class="heading-secondary">Accrediting provider: {{ accrediting.name }}</span>{% endif %}
  </h1>

  <div class="grid-row add-top-margin">
    <div class="column-two-thirds">
      <table class="ucas-info-table">
        <thead>
          <tr>
            <th>UCAS code</th>
            <th>Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for course in data['ucasCourses'] %}
            {% if course.name == subject.name and course.accrediting == accrediting.name %}
              <tr>
                <td>{{ course.programmeCode }}</td>
                <td>{{ course.options }}</td>
                <td class="ucas-view-link"><a href="/course/{{ accrediting.slug }}/{{ subject.slug }}/ucas/{{ course.programmeCode }}">Check UCAS data</a></td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>

{% endblock %}
