{% extends "layout.html" %}
{% set title %}{{ subject.name or 'Maths' }}{% endset %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/courses">Courses</a></li>
    </ol>
  </div>

  {% if data[subject.slug + '-qa'] == 'true' %}
    <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1" style="margin-bottom: 60px">
      <h3 class="heading-medium success-summary-heading" id="success-summary-heading-example-1">
        {{ title }} has been sent to DfE for review
      </h3>
      <p>
        You will receive an email when the course is published or if changes are needed.
      </p>
    </div>
  {% endif %}

  <h1 class="heading-xlarge">
    {{ title }}
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h3 class="course-part-task">
        Details imported from UCAS
      </h3>
      <!-- <a class="course-part-task-action" href="/course/{{ subject.slug }}/from-ucas">View</a> -->

      <div style="clear: left; padding-top: 20px" class="add-top-margin">
        <p>Course information that we’ve received from UCAS based on your submissions to them. If you want to change these you’ll need to use UCAS web-link.</p>
        <p>Multiple UCAS courses for the same subject are combined into a single subject page with different course options.</p>
      </div>

      <table class="ucas-info-table">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Type</th>
            <th>Code</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for course in data['ucasCourses'] %}
            {% if course.name == subject.name %}
              <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.options }}</td>
                <td>{{ course.programmeCode }}</td>
                <td><a href="/course/{{ subject.slug }}/from-ucas#{{ course.programmeCode }}">View</a></td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>

{% endblock %}
