{% extends "layout.html" %}
{% set title = 'Before you begin' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p>Thank you for taking part in our research.</p>

      <p>You will be using a prototype. Not all of the information shown will be accurate and any information you enter will be deleted when the research is over.</p>

      <p class="govuk-!-margin-bottom-8">As part of this research none of your current courses or locations will be shown.</p>

      <p>
        <a href="/" class="govuk-button govuk-button--start">Start now</a>
      </p>
    </div>
  </div>



{% endblock %}
